<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: 'Mi Cuenta'}) %>
    <link rel="stylesheet" href="/css/account.css">
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>
    <main>
        <div class="account_outer-edge">
            <div class="account_container container">
                <h2 class="account_title">Informacion de tu cuenta</h2>
                <div class="account_container-information">
                    <p class="account_information-type">Nombre: </p>
                    <p>Enzo</p>
                </div>
                <div class="account_container-information">
                    <p class="account_information-type">Apellido: </p>
                    <p>Lopes</p>
                </div>
                <div class="account_container-information">
                    <p class="account_information-type">Email: </p>
                    <p>enzo@gmail.com</p>
                </div>
                <div class="account_container-information">
                    <p class="account_information-type">Contrasena: </p>
                    <p>Cabildo1810</p>
                </div>
                <div class="account_container-information">
                    <p class="account_information-type">Tipo de cuenta: </p>
                    <p>Lector</p>
                </div>
                <div class="account_container-information account_container-button">
                    <a class="button-regular account_button-edit" href="/account/edit">Editar</a>
                </div>
           </div>
        </div>
        <div class="products_container">
            <div class="title_outer-edge">
                <div class="title_container container account_container-title">
                    <div>
                        <h2>Tus libros a la venta</h2>
                    </div>
                    <div class="account_container-add">
                        <a href="/products/add" class="button-regular">Agregar</a>
                    </div>
                    
                </div>
            </div>
            <% for (let product of productsPopular){ %> 
                <div class="products_outer-edge-product">
                    <div class="products_container-product container">
                        <div class="products-product_container-image">
                            <a href="/products/<%= product.id %>">
                                <img src="/images/<%= product.image %> " alt="" width="100%">
                            </a>
                        </div>
                        <div class="products-product_container-description">
                            <p><%= product.price %></p>
                        </div>
                        <div class="product_container-button">
                            <a class="button-regular" href="/products/<%= product.id %>/delete">Borrar</a>
                            <a class="button-regular" href="/products/<%= product.id %>/edit">Editar</a>
                        </div>
                    </div>
                </div>
            <% } %> 
        </div>
    </main>
    <footer>
        <%- include('partials/footer') %> 
    </footer>
</body>
</html>
