<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: 'Detail'}) %>
    <link rel="stylesheet" href="/css/detail.css">
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>
    <main>
        <div class="detail_outer-edge">
            <div class="detail_container container">
                <div class="detail_outer-edge-image">
                    <div class="detail_container-image">
                        <img src="/images/<%= product.image %>" alt="" width="100%">
                    </div>
                </div>
                <div class="detail_outer-edge-information">
                    <div class="detail_container-information">
                        <div class="detail-information_container">
                            <h2><%= product.name %></h2>
                        </div>
                        <div class="detail-information_container">
                            <p>Autor: <%= product.author %></p>
                        </div>
                        <div class="detail-information_container">
                            <p><%= product.description %></p>
                        </div>
                        <div class="detail-information_container">
                            <p class="detail-information_price"><%= product.price %></p>
                        </div>
                        <div class="detail-information_container">
                            <div class="product_container-button">
                                <div>
                                    <form action="">
                                        <div>
                                            <button class="button-regular">Comprar</button>
                                        </div>
                                    </form>
                                </div>
                                <div>
                                    <form action="">
                                        <div>
                                            <button class="button-regular">Favorito</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('partials/footer') %> 
    </footer>
</body>
</html>