<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: 'Productos'}) %>
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>
    <main>
        <div class="products_container">
            <div class="title_outer-edge">
                <div class="title_container container">
                    <h2>Libros</h2>
                </div>
            </div>
            <% for (let product of products) { %> 
                <div class="products_container-product container">
                    <a href="/products/<%= product.id %>" class="products_outer-edge-product">
                        <div class="products-product_container-image">
                            <img src="/images/<%= product.image %>" alt="" width="100%">
                        </div>
                    </a>
                        <div class="products-product_container-description">
                            <p>$<%= product.price %></p>
                            <p class="products-product_description-title"><%= product.name %> </p>
                        </div>
                        <i class="far fa-star star" data-id="<%= product.id %>"></i>
                        <% if (locals.user) {  let isFavourite = false;%>
                            <% for(let favourite of favourites) { %>
                                <% if (product.id == favourite.book_id) { 
                                    isFavourite = true;%>
                                <% } %>
                            <% } %>
                            <% if (isFavourite) { %>
                                <div>
                                    <form action="/products/<%= product.id %>/unfavourite?_method=DELETE" method="post">
                                        <div>
                                            <button class="button-regular">No mas favorito</button>
                                        </div>
                                    </form>
                                </div> 
                            <% } else { %>
                                <div>
                                    <form action="/products/<%= product.id %>/favourite" method="post"> 
                                        <div>
                                            <button class="button-regular">Favorito</button>
                                        </div>
                                    </form>
                                </div> 
                            <% } %>
                        <% } %>
                    </div>
            <% } %> 
        </div>
    </main>
    <footer>
        <%- include('partials/footer') %> 
    </footer>
    <script type="text/javascript" src="js/fav.js"></script>
</body>
</html>
