<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: 'Home'}) %>
    <link rel="stylesheet" href="/css/delete.css">
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>
    <main>
        <div class="delete_outer-edge">
            <div class="delete_container container">
                <h2>Estas seguro que queres borrar:</h2>
                <h2 class="delete_container-name"><%= product.name %> </h2>
                <div class="delete_container-button">
                    <form action="/products/<%= product.id %>?_method=DELETE" method="post">
                        <div>
                            <button type="submit" class="button-regular">Borrar</button>
                        </div>
                    </form>
                    <a href="/account" class="button-regular">No</a>
                </div>
                
            </div>
        </div>
    </main>
    <footer>
        <%- include('partials/footer') %> 
    </footer>
</body>
</html>