<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: 'Productos'}) %>
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>
    <main>
        <div class="products_container">
            <div class="title_outer-edge">
                <div class="title_container container">
                    <h2>Libros</h2>
                </div>
            </div>
            <% for (let product of products) { %> 
                <div class="products_outer-edge-product">
                    <div class="products_container-product container">
                        <div class="products-product_container-image">
                            <a href="/products/<%= product.id %>/detail ">
                                <img src="/images/<%= product.image %>" alt="" width="100%">
                            </a>
                        </div>
                        <div class="products-product_container-description">
                            <h3><%= product.name %></h3>
                            <p><%= product.price %></p>
                        </div>
                    </div>
                </div>
            <% } %> 
        </div>
    </main>
    <footer>
        <%- include('partials/footer') %> 
    </footer>
</body>
</html>
